[access]
	inheritFrom = LizardNet-Minecraft
[submit]
[access "refs/*"]
	owner = group LizardNet Minecraft admins
	exclusiveGroupPermissions = read
	read = group Event Streaming Users
	read = group LizardNet Minecraft admins
	read = group LizardNet Minecraft developers
	read = group Service Users
	read = block group hubot
[project]
	description = LizardNet's fork of Minecraft Overviewer, primarily containing changes for internal use.
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	label-Code-Review = -1..+1 group Event Streaming Users
	label-Code-Review = -1..+1 group Service Users
	label-Verified = -1..+1 group Event Streaming Users
	label-Verified = -1..+1 group Service Users
	read = group Event Streaming Users
	read = group LizardNet Minecraft admins
	read = group LizardNet Minecraft developers
	read = group Service Users
	read = block group hubot
