[access]
	inheritFrom = LizardNet-Minecraft
[submit]
[access "refs/*"]
	owner = group LizardNet Minecraft admins
	read = group Anonymous Users
	read = group Registered Users
[project]
	description = LizardNet's fork of GregoryAM-SP's Minecraft Overviewer successor project, including changes intended for contribution upstream as well as those developed for internal use.\n\nForked from https://github.com/GregoryAM-SP/The-Minecraft-Overviewer
